
$fontColor: black;

$color1: #5d4157;
$color2: #838689;
$color3: #a8caba;
$color4: #cad7b2;
$color5: #ebe3aa;
$color6: #033649;
$color7: #948c75;
$color8: #06698d;

$menuColor: #06698d;
$sidebarColor: #033649;


$defaultFont: 'Roboto', sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight:700;


$gutter: 16px;